# Data Exploration with Pandas

In [1]:
## setup
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv ("data/adult.csv", na_values="?")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

## Edit the data

In [5]:
df2 = df[["age", "sex", "race"]].head()
df2

   age     sex   race
0   39    Male  White
1   50    Male  White
2   38    Male  White
3   53    Male  Black
4   28  Female  Black

### Remove rows

In [6]:
df2

   age     sex   race
0   39    Male  White
1   50    Male  White
2   38    Male  White
3   53    Male  Black
4   28  Female  Black

In [7]:
# df2.drop([3], inplace=True, axis=0)
df2.drop([3], axis=0, inplace=True)
df2
# The axis argument is either 0 when it indicates rows and 1 when it is used to drop columns.
#axis : int or axis name. To drop labels from the rows (0 / ‘rows’)

   age     sex   race
0   39    Male  White
1   50    Male  White
2   38    Male  White
4   28  Female  Black

### Remove columns

In [8]:
df2.drop('age', inplace=True, axis = 1)
df2.head()

# You can set inplace to True to delete the column without having to reassign the DataFrame.
#axis : int or axis name. To drop labels from the columns (1 / ‘columns’)

      sex   race
0    Male  White
1    Male  White
2    Male  White
4  Female  Black

### Append rows

In [9]:
# Append is deprecated: https://stackoverflow.com/questions/75956209/error-dataframe-object-has-no-attribute-append
# df2.append({"sex": "Male", "race" : "White"}, ignore_index=True)
# Note that here, the index gets filled up, but the new instances is added at the end.
# Append rows to the end of caller, returning a new object.
# ignore_index: If True, do not use the index labels.

In [10]:
df2

      sex   race
0    Male  White
1    Male  White
2    Male  White
4  Female  Black

In [11]:
df_with_3_cols = pd.DataFrame([{"sex": "Male", "race" : "White", "age" : 21}, {"sex": "Female", "race" : "Asian"}])
df_with_3_cols

      sex   race   age
0    Male  White  21.0
1  Female  Asian   NaN

In [12]:
df2

      sex   race
0    Male  White
1    Male  White
2    Male  White
4  Female  Black

In [13]:
df2 = pd.concat([df2, pd.DataFrame([{"sex": "Male", "race" : "Asian"}])], ignore_index = True)

In [14]:
df2

      sex   race
0    Male  White
1    Male  White
2    Male  White
3  Female  Black
4    Male  Asian

In [15]:
df2 = pd.concat([df2, df_with_3_cols], ignore_index = True)
df2

      sex   race   age
0    Male  White   NaN
1    Male  White   NaN
2    Male  White   NaN
3  Female  Black   NaN
4    Male  Asian   NaN
5    Male  White  21.0
6  Female  Asian   NaN

### Adding columns

In [16]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [17]:
df["age"].head()

0    39
1    50
2    38
3    53
4    28
Name: age, dtype: int64

In [18]:
decade = df["age"] // 10 * 10
decade.head()
#type(s)

0    30
1    50
2    30
3    50
4    20
Name: age, dtype: int64

In [19]:
df ['age_group'] = decade
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class,age_group
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,30
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,50
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,30
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,50
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,20

In [20]:
df ["is_white"] = df.race == "White"
df ["is_white_again"] = [True if i == "White" else False for i in df.race]# == "White"
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class,age_group,is_white,is_white_again
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,30,True,True
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,50,True,True
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,30,True,True
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,50,False,False
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,20,False,False

In [41]:
list1 = ["capital-win" for x in df ["capital-gain"] if x > 0]
list2 = ["capital-win" if x > 0 else "no-capital-win" for x in df ["capital-gain"]]
len(list1), len(list2), len(df)

(4035, 48842, 48842)

In [22]:
list1[:5]

['capital-win', 'capital-win', 'capital-win', 'capital-win', 'capital-win']

In [36]:
list2[:5]

['capital-win',
 'no-capital-win',
 'no-capital-win',
 'no-capital-win',
 'no-capital-win']

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  47985 non-null  object
 14  class           48842 non-null  object
 15  age_group       48842 non-null  int64
 16  is_white        48842 non-null  bool
 17  is_white_again  48842 non-null  bool
dtypes: bool(2), int64(7), object(9)
memory usage: 6.1+ MB

In [63]:
df.columns[10:12]

Index(['capital-gain', 'capital-loss'], dtype='object')

In [33]:
df["capital"] = ["capital-win" if x > 0 else "no-capital-win" for x in df[["capital-gain", "capital-loss"]] ]
# df ["capital_again"] = ["capital-win" for x in df ["capital-gain"] if x > 0]
df.head()

TypeError: '>' not supported between instances of 'str' and 'int'

In [72]:
df["capital_status"] = ["capital-win" if win > 0 else "capital-loss" if loss > 0 else "neutral-capital"
                        for win, loss in df[["capital-gain", "capital-loss"]].itertuples(index=False)]

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class,age_group,is_white,is_white_again,capital_status
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,30,True,True,capital-win
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,50,True,True,neutral-capital
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,30,True,True,neutral-capital
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,50,False,False,neutral-capital
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,20,False,False,neutral-capital

In [ ]:
df[df['capital_status'] == 'capital-loss']

### The apply function

Apply a function along an axis of the DataFrame. You can use .apply to send a single column to a function. This is useful when cleaning up data - converting formats, altering values etc. (http://jonathansoma.com/lede/foundations/classes/pandas%20columns%20and%20functions/apply-a-function-to-every-row-in-a-pandas-dataframe/)

In [ ]:
df2 = df[["age", "sex", "workclass"]]
df2.head(10)

In [ ]:
df2['workclass'].unique()

In [ ]:
df2['workclass'].value_counts()

In [ ]:
df2

In [ ]:
df2.loc[0]

In [ ]:
df2.loc[0]

In [ ]:
### We can also use apply on a single column:
def my_function (row):
    if row['workclass'] is np.NaN:
        return "Unknown"
    elif "State" in row['workclass']:
    # elif row['workclass'] == "State-gov":
        return "official"
    else:
        return "other"
    
def my_function2 (row):
    if '3' in str(row['age']):
        return "you're not old enough!"
    else:
        return "other"

In [ ]:
my_function2(df2.loc[0])

In [ ]:
my_function(df2.loc[0])

In [ ]:
df2.apply(my_function, axis=1)

In [ ]:
#Apply a function along an axis of the DataFrame.
#Objects passed to the function are Series objects whose index
#is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1).

df2["course_workclass"] = df2.apply(my_function, axis=1)
df2.head()

In [ ]:
def my_function_2(row):
    if row["workclass"] is np.NaN:
        return "Unknown"
    if (row["age"] < 30) or ("State" in row["workclass"]):
        return "Young or official"
    elif (row["sex"] == "Male"):
        return "Male"
    else:
        return 'Unknown'

df2["my_val_2"] = df2.apply(my_function_2, axis = 1)
df2.head()

In [ ]:
list1 = [1, 2,3 ,4, 5]
sum(list1)/len(list1)

## Handling missing values

Useful reading: https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html

In [ ]:
## lets create a small artficial dataset
# missing data representation -- NaN (acronym for Not a Number) is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation
data = [[1, np.nan,3,4], [2, 3,4,np.nan], [np.nan,10,11,12], [4, 14,'b', 16], [5, 1,2,3]]
df2 = pd.DataFrame(data, columns=["i", "c1", "c2", "c3"])
#df2.dtype
df2

In [ ]:
sum([4, 12, 16, 3]) / 4

In [ ]:
sum([4, 0, 12, 16, 3]) / 5

In [ ]:
df2.c3.sum() / len(df2)

In [ ]:
df2.c3.mean()

In [ ]:
df2

In [ ]:
df2.dropna()

In [ ]:
df2

In [ ]:
df2.dropna(subset=["c3"])

In [ ]:
df2

In [ ]:
df2.dropna(axis=1)

In [ ]:
df2

In [ ]:
df2

In [ ]:
df2.c3.fillna(df2.c2)

In [ ]:
df2

In [ ]:
#{‘backfill’, ‘bfill’, ‘pad’, ‘ffill’, None}, default None
#Method to use for filling holes in reindexed Series
#pad / ffill: propagate last valid observation forward to next valid
#backfill / bfill: use NEXT valid observation to fill gap

df2.fillna(method="ffill")

In [ ]:
df2.fillna(method="bfill")

In [ ]:
# Lets go back to our main dataset:
# The count function counts only non-missing values:
df.count()

In [ ]:
len(df) - df.count()

In [ ]:
#show the respective instances:
df [df["workclass"].isnull()]

In [ ]:
df2 = df.dropna()
len(df2)

In [ ]:
len(df)

In [ ]:
df3 = df.fillna('')
df3.loc[20:30]

## Group-by

By “group by” we are referring to a process involving one or more of the following steps:

    - Splitting the data into groups based on some criteria.
    - Applying a function to each group independently.
    - Combining the results into a data structure.

More: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
df.head()

In [ ]:
df.head().groupby(["sex"])

In [ ]:
for name, group in df.head().groupby(["sex"]):
    print (name)
    print (group)
    print (type(group))
    print('--------------------------------------------------------------')

In [ ]:
number_df = df[['sex', 'age', 'education-num', 'capital-gain']]

In [ ]:
g = number_df.groupby(["sex"])
g.size()

In [ ]:
g.size().sum()

In [ ]:
df["sex"].value_counts()

In [ ]:
g.mean()#["age"]

In [ ]:
g.mean().loc["Male"]

We can also group by multiple attributes:

In [ ]:
number_df = df[['sex', 'race', 'age', 'education-num', 'capital-gain']]
g = number_df.groupby(["sex","race"]).mean()
g

In [ ]:
g.loc["Male"]

In [ ]:
g.loc["Male"].loc["White"]

In [ ]:
g = df.groupby(["sex","race", "education"]).size()
g

In [ ]:
#  Pivot a level of the (necessarily hierarchical) index labels,
# returning a DataFrame having a new level of column labels whose
#inner-most level consists of the pivoted index labels.

print(g.unstack().to_markdown())

In [ ]:
g.unstack (["race","sex"])

## Ex 1

Use Census data, aka, adult.csv

A. Show for each combination of sex and race, how many instances(people) are contained in the dataset

B. What is the mean age of men and women in this dataset?

C. Show for each combination of marital-Status and race, how many males/females over 40 years have a bachelor degree as their highest degree?

In [ ]:
print("A Use Census data")


df = pd.read_csv ("data/adult.csv", na_values="?")
df.head()

print("A. Show for each combination of sex and race, how many instances(people) are contained in the dataset")

df.groupby(['sex', 'race']).size().unstack()

print("B. What is the mean age of men and women in this dataset?")

g = df[['sex','age']].groupby('sex')
g.mean()['age']

print("C. Show for each combination of marital-Status and race how many males/females over 40 years have a bachelor degree as their highest degree?")

df = df[(df['age']>40) & (df['education'] == 'Bachelors')].groupby(['marital-status', 'race', 'sex']).size().unstack().fillna(0)
df

In [ ]:
print("A Use Census data")


df = pd.read_csv ("data/adult.csv", na_values="?")
df.head()

print("A. Show for each combination of sex and race, how many instances(people) are contained in the dataset")


df.groupby(["sex", "race"]).size().unstack()

print("B. What is the mean age of men and women in this dataset?")


g = df[['sex', 'age']].groupby("sex")
g.mean()["age"]

print("C. Show for each combination of marital-Status and race how many males/females over 40 years have a bachelor degree as their highest degree?")


df2 = df[(df["age"] > 40) & (df["education"] =="Bachelors")]
df2.groupby(["marital-status","race","sex"]).size().unstack().fillna(0)

## Concatenate and join

There several methods to bring data from different dataset together, most importantly *concat* and *merge*

In [ ]:
df1 = pd.DataFrame ([["Student 1", 2.0, 1.5],
                     ["Student 2", 3.0, 2.5],
                     ["Student 3", 1.5, 2.0],
                     ["Student 4", 1.0, 4.0]],columns = ["Student", "course_A", "course_B"])
df1

In [ ]:
df2 = pd.DataFrame ([["Student 5", 2.3, 2.5],
                     ["Student 6", 3.0, 1.0],
                     ["Student 7", 2.5, 2.0],
                     ["Student 8", 1.7, 3.5]],columns = ["Student", "course_A", "course_B"])
df2

In [ ]:
df_all = pd.concat ([df1,df2])
df_all

In [ ]:
df_all.reset_index(drop=True,inplace=True)
df_all

In [ ]:
df_ab = pd.concat([df1, df2], ignore_index=True)
df_ab

In [ ]:
df3 = pd.DataFrame ([["Student 1", 1.3],
                     ["Student 2", 2.3],
                     ["Student 5", 4.0],
                     ["Student 8", 1.5],
                     ["Student 10", 1.5]
                    ],columns = ["Student", "course_C"])
df3

In [ ]:
df_ab

In [ ]:
# by default, inner join is performed.
# use intersection of keys from both frames, similar to a SQL inner join;
# preserve the order of the left keys.

pd.merge (df_ab, df3, on="Student") #, how="inner"

This is called an "inner" join: only those rows occur that are present in both tables.

In [ ]:
#"Outer Join"
# use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
pd.merge (df_ab, df3, on="Student", how="outer")

In [ ]:
df_ab

In [ ]:
#"Left Join"
# use only keys from left frame, similar to a SQL left outer join; preserve key order.
pd.merge (df_ab, df3, on="Student", how="left")

In [ ]:
pd.merge (df3, df_ab, on="Student", how="right")

In [ ]:
# Left and right key do not need to have the same column name
# left: use only keys from left frame, similar to a SQL left outer join; preserve key order.
# right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
df4 = pd.DataFrame ([["Student 1", 1.3],
                     ["Student 2", 2.3],
                     ["Student 5", 4.0],
                     ["Student 6", 1.5],
                     ["Student 12", 1.5]
                    ],columns = ["Student_name", "course_D"])
df4

In [ ]:
df_ab

In [ ]:
df_abd = pd.merge (df_ab, df4, left_on="Student", right_on="Student_name", how="outer")
df_abd

In [ ]:
df_abd["Student"] = df_abd["Student"].fillna(df_abd["Student_name"])
df_abd

In [ ]:
df_abd.drop("Student_name", axis=1)

In [ ]:
# There can be more occurrences of a student in a table; then ALL combinations are formed.
df5 = pd.DataFrame ([["Student 1", 1.3],
                     ["Student 1", 2.3],
                     ["Student 2", 4.0],
                     ["Student 2", 1.5],
                     ["Student 2", 3.5]
                    ],columns = ["Student", "course_E"])
df5

In [ ]:
df1

In [ ]:
df_abe = pd.merge(df1,df5,how = "outer")
df_abe

In [ ]:
df_abe = df_abe.sort_values(["Student", "course_E"])
df_abe

In [ ]:
df_abe.drop_duplicates("Student")

#keep : {‘first’, ‘last’, False}, default ‘first’
#first : Drop duplicates except for the first occurrence. (default)
#last : Drop duplicates except for the last occurrence.
#False : Drop all duplicates.

## Working with specific data types

### String objects

In [ ]:
df.head()
df = pd.read_csv('data/adult.csv')
df

In [ ]:
df ['marital-status'].unique()

In [ ]:
df ['marital-status'].value_counts()

In [ ]:
# Select those with a specific value
df [df ['marital-status'] == "Never-married"].head()

In [ ]:
# Try and select rows, in which the marital-status string begins with a certain value

df ['marital-status'].str.startswith ("Married")

In [ ]:
df [df ['marital-status'].str.startswith ("Married")]

### Time objects

In [ ]:
df = pd.read_csv ("data/weather.csv")

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df["time"].head()

In [ ]:
df['time'][0]

In [ ]:
df["time"] = pd.to_datetime(df.time)
df.head()

In [ ]:
df['time'][0]

In [ ]:
df.dtypes

In [ ]:
type(df.time)

In [ ]:
df["weekday"] = df['time'].dt.day_name()
df.head()

In [ ]:
df["hours"] = df.time.dt.hour
df.head()

In [ ]:
df["time_from_last_measurement"] = df.time.diff()
df.head()

In [ ]:
df["reformatted_date"] = df.time.dt.strftime("%y-%m-%d")
df

In [ ]:
df.dtypes

## Data export

In [ ]:
# for storing / reloading for later: use pickle
import pickle
pickle.dump(df, open("my_df.p", "wb" ))

In [ ]:
df_loaded = pickle.load(open("my_df.p", "rb" ))
df_loaded.head()

In [ ]:
df_exp = df[df.hours == 11]
df_exp = df[["reformatted_date", "weekday", "status", "temperature"]]
df_exp.head()

In [ ]:
df

In [ ]:
df.to_csv("data/weather_export_extra.csv")
# df.to_csv('weather_export.csv', sep='\t', encoding='utf-8')

In [ ]:
df_exp.to_html("weather_export.html")

In [ ]:
df_exp.to_latex()

## Styling

In [ ]:
df = pd.DataFrame(np.random.randint(0,100,size=(10, 4)), columns=list('ABCD'))

In [ ]:
df

In [ ]:
df.style.background_gradient()

In [ ]:
df.style.highlight_max()

In [ ]:
df.style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

In [ ]:
pd?

## Transpose

In [ ]:
h=df.head(5)
h

In [ ]:
h.T

In [ ]:
h.loc[3]

In [ ]:
h.T[3]

## OPTIONAL

In [ ]:
df = pd.read_csv('data/adult.csv')

In [ ]:
df2 = df[["age", "sex", "workclass"]]
df2.head(10)

In [ ]:
### Apply is also often used in combination with a lambda function:
df2["my_val_3"] = df2.apply (lambda x: "Young" if x.age < 30 else x.sex, axis=1)
df2.head(20)

In [ ]:
df[df ['marital-status'].str.match("Married-(.*)-spouse")].sample(4)

### Plotting with Pandas

Pandas also has plotting functions directly integrated. These are basically shortcuts to matplotlib

In [ ]:
import pandas as pd

df = pd.read_csv ("data/adult.csv", na_values="?")
h = df.head(100)
h

Let us get the number of males and females

In [ ]:
df.sex.value_counts()

Now lets try to use Pandas plotting functionality. Its call plot(). 
We can specify different "kind" in plot() -- ‘line’ : line plot (default); ‘bar’ : vertical bar plot; ‘barh’ : horizontal bar plot; 
‘hist’ : histogram; ‘pie’ : pie plot; ‘scatter’ : scatter plot


Lets start by creating bar plot for the number of males and females.

## Bar

In [ ]:
df.sex.value_counts().plot(kind="bar")

What if we want to plot the densities instead of counts.

In [ ]:
(df.sex.value_counts() / len(df)).plot(kind="bar")

## Histogram

Now lets try to plot the histogram of the ages.

In [ ]:
df["age"].hist(bins=[20,25,30,35,40,50])

In [ ]:
# since its a shortcut to matplotlib, we can just add matplotlib parameters
df["age"].hist(bins=[20, 25,30,35,40,50], rwidth=0.5, color="red")

## Scatter

In [ ]:
h.plot(x="age", y="hours-per-week", kind="scatter")

# Seaborn

Seaborn is another visualization library built on top of matplotlib and pandas. It offers new styles, simple creation of more standardized plots and easy acces from pandas

In [ ]:
import seaborn as sns

In [ ]:
sns.factorplot(x="sex", y="age", data=df)

In [ ]:
sns.factorplot(x="race", y="age", hue="sex", data=df, kind="bar")

In [ ]:
sns.factorplot(x="race", y="age", hue="sex", data=df, kind="bar",  aspect=3)

In [ ]:
sns.regplot ("age", "hours-per-week", data=df.head(1000))

In [ ]:
sns.distplot(df.age, bins=20)

In [ ]:
c = df.corr()
c

In [ ]:
sns.heatmap(c)

In [ ]:
plt.figure(figsize=(10,5))
g = sns.lmplot(x="age", y="hours-per-week", hue="sex",
               truncate=True, size=5, data=h)

In [ ]:
sns.jointplot(df.age, df["education-num"], kind="kde", color="#4CB391")

In [ ]:
sns.pairplot(data=df.sample(1000), hue="sex")

In [ ]:
f = plt.figure()
plt.gca().plot(x,y)

In [ ]:
f.suptitle("Hallo")
f

## More material:

* The official pandas documentation: https://pandas.pydata.org/
* A tutorial by Brandon Rhodes from PyCon 2015:
https://www.youtube.com/watch?v=5JnMutdy6Fw
 with material and exercises
https://github.com/brandon-rhodes/pycon-pandas-tutorial

* Daniel Chan: Introduction to pandas: https://www.youtube.com/watch?v=dye7rDktJ2E